@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.sora {
  font-family: "Sora", sans-serif;
}

.text-border {
  color: #fff;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}